
@section scripts{

    <script src="~/Scripts/angular.js"></script>
    <script src="~/UsersApp.js"></script>
    <script src="~/UsersService.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

}

<ul>
    <li href="/RoutesTest/One"> Jedan   </li>
    <li href="/RoutesTest/Two"> Dva   </li>
    <li href="/RoutesTest/Three"> Tri   </li>
</ul>

<div ng-app="UsersApp" class="row">

    <div ng-controller="UsersController">


        <input type="text" placeholder="Search User" ng-model="nasUser" />

        <table class="table">
            @*{{message}}*@

            @*{{users}}*@
            <tr ng-repeat="us in users | filter : nasUser">

                
               <td>{{us.UserID}}</td> 
                <td>{{us.Ime}}</td>
                <td>{{us.Prezime}}</td>
                <td>{{us.UserName}}</td>

                <td>{{us.Oib}}</td>


            </tr>

        </table>


    </div>
    <div ng-controller="UsersLogController">


        <input type="text" placeholder="Search UsersLog" ng-model="nasUserLog" />

        <table class="table">
            
            <tr ng-repeat="us in usersLog | filter : nasUserLog">
                <td>{{us.LogID}}</td>
                <td>{{us.Vrijeme}}</td>
            </tr>

        </table>


    </div>

    <div ng-controller="UsersPermissionsController">


        <input type="text" placeholder="Search UsersPermissions" ng-model="nasUserPermissions" />

        <table class="table">

            <tr ng-repeat="us in usersPermissions | filter : nasUserPermissions">
                <td>{{us.Broj}}</td>
                <td>{{us.UserID}}</td>
            </tr>

        </table>


    </div>
</div>



