
@section scripts{

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
<script src="~/UsersApp.js"></script>
<script src="~/UsersService.js"></script>


}

<div ng-app="UsersApp" class="row">

    <ul>
        <li><a href="/RoutTest/One">Page One</a></li>
        <li><a href="/RoutTest/Two">Page Two</a></li>
        <li><a href="/RoutTest/Three">Page Three</a></li>
    </ul>

    <div ng-controller="UsersController">


        <input type="text" placeholder="Search User" ng-model="nasUser" />

        <table class="table">
            @*{{message}}*@

            @*{{users}}*@
            <tr ng-repeat="us in users | filter : nasUser">

                
               <td>{{us.UserID}}</td> 
                <td>{{us.Ime}}</td>
                <td>{{us.Prezime}}</td>
                <td>{{us.UserName}}</td>

                <td>{{us.Oib}}</td>


            </tr>

        </table>

    </div>

    <div ng-controller="UsersCurrentsController">


        <input type="text" placeholder="Search UserCurrents" ng-model="nasUserCurrents" />

        <table class="table">
            @*{{message}}*@

            @*{{usersCurrents}}*@
            <tr ng-repeat="usC in usersCurrents | filter : nasUserCurrents">


                <td>{{usC.ID}}</td>
                <td>{{usC.UserID}}</td>
              

            </tr>

        </table>

    </div>

    <div ng-controller="AccountsController">


        <input type="text" placeholder="Search Accounts" ng-model="nasAccounts" />

        <table class="table">
            @*{{message}}*@

            @*{{accounts}}*@
            <tr ng-repeat="ac in accounts | filter : nasAccounts">


                <td>{{ac.AccountID}}</td>
                <td>{{ac.Naziv}}</td>


            </tr>

        </table>

    </div>

</div>


   